<section class="columns" data-ng-controller="PicGalleryController">

  <section class="column is-half is-offset-quarter" data-ng-init="getAllPic()">
    <h1>Gallery:</h1>
    <ul>
      <pic-gallery data-ng-repeat="pic in gallery" data-pic-data="pic">
        <button class="button is-small is-danger" data-ng-click="deletePic(pic)">Delete</button>
        <button class="button is-small is-info" data-ng-if="!pic.editing" data-ng-click="toggleEditPic(pic)">Update</button>

        <pic-form
            data-ng-if="pic.editing"
            data-save="updatePic(pic)"
            data-button-text="Update Pic"
            data-pic="pic"
          ><button class="button is-small" type="button" data-ng-click="toggleEditPic(pic)">Cancel</button>
        </pic-form>

      </pic-gallery>
    </ul>

    <pic-gallery data-pic-data="newPic">

      <pic-form
        data-button-text="Create new Image"
        data-pic="newPic"
        data-save="createPic(newPic)"
      ></pic-form>

    </pic-gallery>

  </section>

</section>
