<form data-ng-submit="save(pic)">

  <label for="name">Name:</label> <br>
  <input type="text" name="name" data-ng-model="pic.name" placeholder="Name"/> <br>

  <!-- <label for="datePublished">Date Published:</label> <br>
  <input type="text" name="datePublished" data-ng-model="pic.datePublished"/> <br> -->

  <label for="url">URL:</label> <br>
  <input type="text" name="url" data-ng-model="pic.url"/> <br>

  <ng-transclude></ng-transclude>
  <button class="button is-small is-primary" type="submit">{{buttonText}}</button>
</form>
